@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  	@apply text-gray-700;
}

@layer components {
	.container {
		@apply max-w-6xl m-auto px-4 md:px-4;
	}

	.text-input {
		@apply border outline-none bg-gray-50 border-gray-300  hover:outline-4 rounded-md p-2 text-sm focus-visible:ring-0 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-orange-300
	}
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
